<div id="left-column">
    Leaderboard
</div><!--end of left-column div-->
<div id="right-column">
    <div id="login">
        <form method="POST" action="/stats" name>
           Username: <input type="text" name="username">
           Password: <input type="password" name="pass">
           <input type="submit" value="login">
        </form>
    </div><!--end of login div-->
    content
</div><!--end of right-column div-->
