     <table>
     <caption>Clicks per button</caption>
      	<thead>
      		<tr>
      			<th scope="col">Button #1</th>
      			<th scope="col">Button #2</th>
      			<th scope="col">Button #3</th>
      			<th scope="col">Button #4</th>
      		</tr>
      	</thead>
      	<tbody>
      		<tr>
      			<td id="one">1</td>
      			<td id="two">1</td>

        			<td>1</td>
        			<td>2</td>

        		</tr>

      	</tbody>
      </table>
<div class="buttons1">
    <a href="#" id="send" class="orange-button">Send Something</a>
    <a href="#" class="orange-button" id="spam">Spam Test</a>
    <a href="#" id="close" class="blue-button">Close Connection</a>
    <a href="#" id="open" class="orange-button">Open Connection</a>
    <a href="#" id="button1" class="  orange-button">Button #1</a>
</div><!--end of buttons1 div-->
