<!doctype html>
<html>
<head>
    <title>
        <%= title %>
    </title>
    <link  href="//fonts.googleapis.com/css?family=Yanone+Kaffeesatz:200,300,400,700" rel="stylesheet" type="text/css" >    
    <link rel="stylesheet" href="/stylesheets/generic.css" type="text/css" />
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script>
    $(document).ready(function(){
    	$("li").click(function() {
    		var value = $(this).text()
    		alert("happy")
    	})
    });
    </script>
</head>
<body>
        <a href="http://github.com/cgcardona/StatSocket">
            <img src="/images/forkthis.png" id="ribbon" alt="Fork this code on Github">
        </a>
        <div id="header">
          <h1>
            StatSocket   
          </h1>
          <h2>
            Real Time Web Analytics Using HTML5 WebSockets &amp; node.js
          </h2>
        </div><!--end of header div-->
    <div id="container">
        <%- body %>
    </div><!--end of container div-->
        <div id="info">
            <p>
            <a href="http://dev.w3.org/html5/websockets/">WebSockets</a> enable Web Pages to have two-way communication with a remote host. StatSocket is an HTML5 tool that allows you to see real time stats on your site.
            </p>
            <p>
            StatSocket was created for the <a href="http://sites.google.com/site/svgtugcampout/">GTUG Campout 2010</a> by
            Dylan Clendenin, Mary Zhu, &amp; Carlos Cardona.
            </p>
        </div><!--end of info div-->
</body>
</html>
