<form method="GET" action="/stats" name>
    Username: <input type="text" name="username">
    Password: <input type="password" name="pass">
    <input type="submit" value="login">
</form>
this is stats.ejs
